@import url('https://fonts.googleapis.com/css?family=Nunito');

html {
  font-family: 'Nunito' , sans-serif;
}

body {
  margin: 0;
  background: #111111;
}

* {
  box-sizing: border-box;
  letter-spacing: 1.5px;
}

input, button {
  font-family: 'Nunito' , sans-serif;
}

button {
  user-select: none;
  cursor: pointer;
}